<div class="container-fluid">
    <h1> Popcorn Time</h1>
    <h1>
        <img src="img/popcorn.jpg" align="middle" alt="Popcorn Time" height="300px">
    </h1>
    <div class="input-group">
        <input ng-model="model.title" type="text" class="form-control" placeholder="Search for..." value="{{model.title}}">
        <span class="input-group-btn">
                <button ng-click="model.searchMovieByTitle(model.title)" class="btn btn-default" type="button">Go!</button>
            </span>
    </div>
    <!--<div ng-hide="model.movies.length > 0 ">-->
        <!--<h2>Search for a movie by title</h2>-->
    <!--</div>-->
        <article class="search-result row" ng-repeat="movie in model.movies">
            <hr class="colorgraph">

            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                <h3><a href="#/details/{{movie.imdbID}}/{{model.title}}" title="">{{movie.Title}}</a></h3>
                <ul class="meta-search">
                    <li><i class="glyphicon glyphicon-calendar"></i> <span>{{movie.Year}}</span></li>
                    <li><i class="glyphicon glyphicon-tags"></i> <span>{{movie.Type}}</span></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <a href="#/details/{{movie.imdbID}}/{{model.title}}" title="{{movie.Title}}" class="thumbnail"><img src={{movie.Poster}} alt="Sorry no poster available" /></a>
            </div>
            <span class="clearfix borda"></span>
        </article>
</div>