<nav class="navbar navbar-blue navbar-fixed-top">
    <div class="container-fluid">
        <div class="no-padding-left pull-left">
            <a class="navbar-brand navbar-link navbar-blue" ng-click="model.back()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="nav-sidebar no-padding-left col-sm-4 col-md-3">
            <div class="navbar-header pull-left">
                <a class="navbar-brand navbar-blue">
                    Websites
                </a>
            </div>
            <p class="navbar-text pull-right">
                <a class="navbar-link navbar-blue" ng-click="model.newWebsite()">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>

        <div class="col-sm-6 col-md-7 no-padding-left">
            <div class="navbar-header pull-left">
                <a class="navbar-brand navbar-blue">
                    New Website
                </a>
            </div>
        </div>

        <div class="navbar-text pull-right">
            <a class="navbar-link navbar-blue" ng-click="model.createWebsite(model.website)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
        <div class="col-sm-4 col-md-3 sidebar">
            <p ng-repeat="website in model.websites">
                <a ng-click="model.openWebsite(website)">
                    {{website.name}}
                    <a ng-click="model.editWebsite(website)">
                        <span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                </a>
            </p>
        </div>
    <div class="inverse-sidebar col-sm-8 col-md-9">
            <label for="name">Name</label>
            <input
                    ng-model="model.website.name"
                    type="text"
                   id="name"
                   class="form-control"
                   placeholder="Name"/>
            <label for="description">Description</label>
        <textarea
                ng-model="model.website.description"
                type="text"
                id="description"
                class="form-control"
                rows="5"
                placeholder="Description"">
            </textarea>
        </div>
</div>
<nav class="navbar navbar-blue navbar-fixed-bottom">
    <div class="navbar-text pull-right">
        <a class="navbar-link navbar-blue" ng-click="model.profile()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
    </div>
</nav>