<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="no-padding-left pull-left">
            <a class="navbar-brand navbar-link" href="page-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="nav-sidebar no-padding-left col-sm-4 col-md-3">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">
                    Pages
                </a>
            </div>
            <p class="navbar-text pull-right">
                <a class="navbar-link" href="page-new.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>

        <div class="col-sm-6 col-md-7 no-padding-left">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">
                    New Page
                </a>
            </div>
        </div>

        <div class="navbar-text pull-right">
            <a class="navbar-link" href="page-list.html">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>

    </div>
</nav>

<div class="container-fluid">
            <div class="col-sm-4 col-md-3 sidebar">
            <p>
                <a href="page-edit.html">Blog Post <span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span></a>
            </p>
            <p>
                <a href="page-edit.html">Blogs <span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span></a>
            </p>
            <p>
                <a href="page-edit.html">Home <span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span></a>
            </p>
            <p>
                <a href="page-edit.html">About <span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span></a>
            </p>
            <p>
                <a href="page-edit.html">Contact Us<span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span></a>
            </p>
        </div>
        <div class="inverse-sidebar col-sm-8 col-md-9">
                    <label for="name">Name</label>
            <input type="text"
                   id="name"
                   class="form-control"
                   placeholder="Name"/>
            <label for="description">Description</label>
            <input type="text"
                   id="description"
                   class="form-control"
                   placeholder="Description"/>
        </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-text pull-right">
        <a class="navbar-link" href="profile.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
    </div>
</nav>