<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
    <div class="no-padding-left pull-left">
        <a ng-click ="model.back()" class="navbar-brand navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>

    <div class="nav-sidebar no-padding-left col-sm-4 col-md-3">
        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                Pages
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a ng-click="model.newPage()"class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
    </div>

    <div class="col-sm-6 col-md-7 no-padding-left">
        <div class="navbar-header pull-left">
            <a ng-click="model.editPage(page)" class="navbar-brand">
                Edit Page
            </a>
        </div>
    </div>

    <div class="navbar-text pull-right">
        <a ng-click="model.updatePage(model.page)" class="navbar-link">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>

</div>
</nav>

<div class="container-fluid">
    <div class="col-sm-4 col-md-3 sidebar">
        <p ng-repeat="page in model.pages">
            <a ng-click="model.openPage(page)">
                {{page.name}}
                <a ng-click="model.editPage(page)">
                    <span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
            </a>
        </p>
    </div>
    <div class="inverse-sidebar col-sm-8 col-md-9">
        <label for="name">Name</label>
        <input type="text"
               id="name"
               class="form-control"
               placeholder="Name"
               ng-model="model.page.name"
               value="{{model.page.name}}"/>
        <label for="description">Title</label>
        <input type="text"
               id="description"
               class="form-control"
               placeholder="Page Title"
               value="{{model.page.title}}"
               ng-model="model.page.title"/>
    <a ng-click="model.deletePage(model.page)"
       class="btn btn-block btn-danger">
        Delete
    </a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-text pull-right">
        <a ng-click = "model.profile()" class="navbar-link"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
    </div>
</nav>