<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-left">
            <a class="navbar-brand navbar-link" ng-click="model.back()"><span class="pull-left glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">Pages</a>
        </div>
        <div class="navbar-right">
            <a class="navbar-brand navbar-link" ng-click="model.newPage()"><span class="pull-right glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <p ng-repeat="page in model.pages">
        <a ng-click="model.openPage(page)">
            {{page.title}}
            <a ng-click="model.editPage(page)">
                <span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
        </a>
    </p>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-text pull-right">
        <a class="navbar-link" ng-click="model.profile()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
    </div>
</nav>
