<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <h3 class="text-danger" align="center">{{model.alert}}</h3>
        </div>
    </div>
        <h1>Profile</h1>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" ng-model ="model.user.username" disabled value="{{model.user.username}}">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com" ng-model="model.user.email" disabled
                       value="{{model.user.email}}">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" class="form-control" id="first-name" placeholder="Alice" ng-model="model.user.firstName"
                       value="{{model.user.firstName}}">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" id="last-name" placeholder="Wonderland" ng-model="model.user.lastName"
                       value="{{model.user.lastName}}">
            </div>
        </form>
    <a class="btn btn-primary btn-block"
       ng-click="model.updateUser(model.user)">Update</a>
    <a class="btn btn-danger  btn-block"
           ng-click="model.logout()">Logout</a>
    <a ng-hide="currentUser.role === 'general'" class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/followers/">Followers</a>
    <a ng-hide="currentUser.role === 'critic'" class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/following/">Following</a>
    <a ng-if="currentUser.role === 'critic'" class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/reviews/">Reviews</a>
</div>