<div class="container">
        <h1>Profile</h1>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" ng-model ="model.user.username" disabled value="{{model.user.username}}">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com" ng-model="model.user.email" disabled
                       value="{{model.user.email}}">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" class="form-control" id="first-name" placeholder="Alice" ng-model="model.user.firstName"
                       value="{{model.user.firstName}}">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" id="last-name" placeholder="Wonderland" ng-model="model.user.lastName"
                       value="{{model.user.lastName}}">
            </div>
        </form>

        <a class="btn btn-danger  btn-block"
           ng-click="model.logout()">Logout</a>
        <a class="btn btn-primary btn-block"
           ng-click="model.getFollowers()">Followers</a>
        <a ng-if="currentUser.role === 'critic'" class="btn btn-primary btn-block"
           ng-click="model.getReviews()">Reviews</a>
        <a class="btn btn-primary btn-block"
           ng-click="model.getLikes()">Likes</a>
</div>

<nav class="navbar navbar-blue navbar-fixed-bottom">

    <div class="navbar-text pull-right">
        <a class="navbar-link navbar-blue" ng-click="model.profile()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
    </div>
</nav>
