<h1 class="page-header less-top-margin">{{model.navUser.username}}'s Reviews</h1>
<hr class="colorgraph">
<div class="row" ng-hide="model.reviews.length > 0">
    <div class="alert alert-info alert-box" role="alert">
            <b>No reviews have been not posted yet</b>
    </div>
</div>

<div ng-repeat="review in model.reviews">
    <div class="media" >
        <a class="pull-left" href="#/details/{{review.movieId}}">
            <img class="media-object media-object-movie thumbnail" ng-src={{review.movie.Poster}} alt="">
        </a>
        <h3>
            <i class="fa fa-comment">
                {{review.timestamp | date:"MM/dd/yyyy 'at' h:mma"}}:
            </i>
            <small>{{review.title}}</small>
            <p>{{review.description}}</p>
        </h3>
    </div>
</div>
<div class="container">
    <a ng-if="currentUser.role!='critic' && !model.following" class="btn btn-primary btn-block"
       ng-click="model.followUser()">Follow</a>
    <a ng-if="currentUser.role!='critic' && model.following" class="btn btn-primary btn-block"
       ng-click="model.unfollowUser()">Unfollow</a>
</div>