<div class="container-fluid">
    <h1>
        <a href="#/search/{{model.title}}">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
        </a>
        {{model.movie.Title}}
    </h1>
    <hr class="colorgraph">

    <div class="row">
        <div class="col-xs-6">
            <div>
                Directed By: {{model.movie.Director}}
            </div>

            <div>
                Rated: {{model.movie.Rated}}
            </div>

            <div>
                Released: {{model.movie.Released}}
            </div>
            <div>
                Plot: {{model.movie.Plot}}
            </div>
            <div>
                Actors:
                <ul>
                    <li ng-repeat="actor in model.Actors">
                        {{actor}}
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-xs-6">
            <img ng-src="{{model.movie.Poster}}" height="300px"/>
        </div>
            <div class="container" ng-if="!currentUser">
                <a href="#/login">
                <span class="glyphicon glyphicon-thumbs-up">
                Please login to like the movie
            </span>
                </a>
            </div>
        <div class="container" ng-if="currentUser && model.liked">
            <a ng-click="model.toggleLike()">
            <span style="background-color: #2b542c" class="glyphicon glyphicon-thumbs-down">
                    Unlike
                </span>
            </a>
        </div>
        <div class="container" ng-if="currentUser && !model.liked">
            <a ng-click="model.toggleLike()">
            <span class="glyphicon glyphicon-thumbs-up">
                Like
            </span>
            </a>
        </div>

    </div>


    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div ng-if="currentUser.role === 'critic'">
            <label for="name">Title</label>
            <input type="text"
                   id="name"
                   class="form-control"
                   placeholder="Enter review title"
                   ng-model="model.review.title"
                   value=""/>
            <label for="description">Description</label>
            <input type="text"
                   id="description"
                   class="form-control"
                   placeholder="Enter review description"
                   value=""
                   ng-model="model.review.description"/>
            <button ng-click="model.addReview(model.review)" type="submit" name="say" value="" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
        </div>
            <h3>Past Reviews </h3>
            <h3 ng-repeat="review in model.reviews">
                <i class="fa fa-comment">
                    {{review.username}} said on {{review.timestamp | date:"MM/dd/yyyy 'at' h:mma"}}:
                </i>
                <small>{{review.title}}</small>
                <p>{{review.description}}</p>
                <div ng-if="currentUser._id === review._user">
                    <button ng-click="model.deleteReview($index)" type="delete" name="say" value="" class="btn btn-danger"><i class="fa"></i> Delete Post</button>
                    <button ng-click="model.updateReview($index)" type="update" name="say" value="" class="btn btn-default"><i class="fa"></i> Update Post</button>
                </div>
            </h3>
        </div>
    </div>
</div>
