<h1 class="page-header less-top-margin">{{model.navUser.username}}'s Profile </h1>

<h1 class="page-header less-top-margin">Following</h1>

<div class="row" ng-hide="model.navUser.following.length > 0">
    <div class="alert alert-info alert-box" role="alert">
            <b>            Not following anyone yet.
            </b>
    </div>
</div>
<hr class="colorgraph">

<div ng-repeat="user in model.users">
    <div class="media">
        <a href="#/user/{{user._id}}/reviews/">
                    {{user.firstName + " " + user.lastName}}
                </a>
            </h3>
    </div>

    <hr>
</div>